<!DOCTYPE html>
{% load static %}
<html class="s" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Ayışığı Pasta & Cafe</title>
</head>


<nav class="nav">
  <img src="/static/ayisigi.jpg" alt="">
</nav>
<body>

  <div class="welcome">
      <h1 class="hg">Hoş geldiniz</h1>
      <div class="category">
          <a class="category-style-a" href="firinurunleri">Fırın Ürünleri</a>
          <a class="category-style-b" href="sandvicler">Sandviçler</a>
          <a class="category-style-c" href="tatlilar">Tatlılar</a>
          <a class="category-style-d" href="serbetlitatlilar">Şerbetli Tatlılar</a>
          <a class="category-style-a" href="adeturunler">Adet Ürünler</a>
          <a class="category-style-b" href="kahvalti">Kahvaltı</a>
          <a class="category-style-c" href="mezeler">Mezeler</a>
          <a class="category-style-d" href="borekler">Börekler</a>
          <a class="category-style-a" href="icecekler">İçecekler</a>
      </div>
  </div>
  
</body>
</html>